body {
    background-image: url("Game-fon.png");
    background-size: cover;
    background-repeat: repeat; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 2%;
}
img{
    width: 170px;
    border-radius: 10px;
    border: 2px solid black;
}
#countRound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    background-color: #ff8400;
    color: white;
    border: 2px solid #000000;
    font-size: 30px;
    border-radius: 50px;
}
button {
    margin: 0%;
    padding: 10px 15px;
    background-color: #ff8400;
    color: white;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    transition: background-color 0.3s;
    width: 300px;
    height: 50px;
}
button:hover {
    background-color: #b15b00;
}
.contentContainer{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.innerContainer{
    background-color: aliceblue;
    height: 100%;
    width: 250px;
    border-radius: 30px;
    padding: 2%;
    background-color: #ff8400;
    border: 2px solid #000000;
}
.scoreContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#result{
    margin-top: auto;
    margin-bottom: auto;
    color: #ff8400;
    width: 300px;
    height: 100px;
    border-radius: 30px;
    border: 2px solid #000000;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.headText{
    height: 70px;
    width: 100%;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
}
.num{
    color: aqua;
    font-size: 20px;
    text-align: center;
}
@media (max-width: 900px) {
    button{
        margin-top: 5%;
    }
    #result{
        border-radius: 10px;
    }
}

@media (max-width: 600px) {
    #countRound{
        height: 40px;
    }
    img{
        width: 90px;
    }
    button {
        width: 90%; 
        font-size: 18px; 
        margin-top: 25%;
    }
    .scoreContainer{
        flex-direction: row;
    }
    .contentContainer {
        flex-direction: column; 
        align-items: center; 
        height: 200px;
        margin-top: 22%;
        gap: 10px;
    }
    .innerContainer {
        width: 90%;  
    }
    .headText {
        font-size: 20px; 
        height: 20px;
    }
    .num {
        font-size: 20px; 
        height: 15px;
    }
}
